*{
    padding: 0%;
    margin: 0%;
    font-family: monospace;
}

header{
    background-color: lightblue;
    padding-top: 1rem;
    padding: 1rem;
}
.colores{
    width: 100%;
}
.div_Img{
    text-align: center;
}
h1{
    text-align: center;
}
.h1_Titulo{
    text-decoration: none;
    color: blueviolet;
}
li{
    display: inline;
    color: blueviolet;
    border: 2px rebeccapurple solid;
    border-radius: 5px;
    border-style: dotted;
    font-size: 1rem;

}
.nav_Ul{
    text-align: center;
    padding: 2rem;
}